.OUR{
    text-align: center;
    background-color: $main-color;
    padding: 5% 0%;
    overflow: hidden;

    h1{
        font-weight: bold;
    }

.md-main{
    text-align: center;

    h5{
        font-size: 20px;
        font-weight: 400;
    }

}
}