.carousel-control.left,.carousel-control.right{
    background-image: none !important;
    margin-top:0px;

}
.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    margin-top:0px 
}

.Slider1{

    position: relative;
    height:auto;
    width:100%;
    background-color: #fff;
    border:1px solid $border;

    .item{
        padding: 0 10% 0 0%;
    }
    .nopadding{
        margin:0;
        padding:0;
    }
    .slider1-content{
        width:100%;
        padding: 60px;

        img{
            width:200px;
            height:200px;
            border-radius: 50%;
            margin-top:0px;
        }

        h3{
            margin:0px 14vw 3vw 9vw;
            font-size: 2vw;
        }

        @media(max-width:700px){
            h3{
                font-size: 3vw;
            }
        }

        h4,h5{
            margin-left:9vw;
        }
    }
}